{
  "extends": "eslint:recommended",
  "plugins": [
  ],
  "rules": {
    "strict": ["warn"],
    "indent": ["error", "tab"],
    "semi": ["error", "always"],
    "no-console": 0
  },
  "env": {
    "es6": true,
    "browser": true,
    "jquery": true
  }
}
